<body>
    <div class="grid-container">
        <div class="camerastream">
          <div class="camera">
              <webcam></webcam>
          </div>
          <div style="text-align: right;">cursor: 50X 120Y</div>

        </div>
        <div class="rightPanel">
            <div class="grid-container2">
                <button id="editorButton" class="editorButton" (click)="propState(true)">EDITOR</button>
                <button id="detectedButton" class="detectedButton" (click)="propState(false)">DETECTED</button>
                <div class="properties">
                  <div class="editor"></div>
                  <div class="detected" style="visibility:hidden"></div>
                </div>
              </div>
        </div>
        <div class="bottomPannel">
          <div class="detection">
            <div style="font-weight: bold; margin-left: 25px; padding-top: 25px; font-size: 28px; font-family: sans-serif;">Detection</div>
            <div class="detectionContainer" style="margin-left: 25px; margin-top: 25px; display: flex; flex-direction: row; justify-content: space-between;">
              <h2>Type</h2>
              <select>
                <option value="colorKey">Color key</option>
                <option value="depth">By depth</option>
              </select>
              <input [style.background]="primaryColor" [colorPicker]="primaryColor" (colorPickerChange)="primaryColor=$event"/>
              <input [style.background]="secondaryColor" [colorPicker]="secondaryColor" (colorPickerChange)="secondaryColor=$event"/>
              <h2>Width of detection area</h2>
              <input>
              <h2>Height of detection area</h2>
              <input>
            </div>
          </div>
          <table>
            <tr>
                <td>Topic: </td>
                <td><h4>{{topicname}}</h4></td>
                <td><button type="button" (click)="subscribeNewTopic()">Subscribe Topic</button></td>
            </tr>
            <tr>
                <td>Message: </td>
                <td>Geef de X-waarde <input [(ngModel)]="xstring" type="text" /></td>
                <td>Geef de Y-waarde <input [(ngModel)]="ystring" type="text" /></td>
                <td>Geef de Z-waarde <input [(ngModel)]="zstring" type="text" /></td>
                <td><button type="button" (click)="sendmsg()">Send</button></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;<button type="button" (click)="clear()">Clear Log</button></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;<button type="button" (click)="GetMessages()">Refresh messages</button></td>
                <td></td>
            </tr>
        </table>
        </div>
    </div>
</body>
